html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  /*  cursor: none;   */
}

svg {
  width: 170px;
  position: absolute;
  animation: rotation 4.5s infinite linear;
  pointer-events: none;
  transition-timing-function: ease-out;
  z-index: 1; 
}

#circle-svg {
  display: none;
}

text {
  font-size: 4em;
  font-family: 'Poppins';
  font-weight: bold;
  fill: rgb(0, 0, 0)
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* fonts */
@import url(https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended+Bold);

@font-face {
  font-family: "Monument Extended Bold";
  src: url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot");
  src: url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.svg#Monument Extended Bold")format("svg");
}


h1 {   
 
  margin-top:5%;
  margin-left:4%;
  font-family: "Monument Extended Bold";
  color: white;
  text-align:left;
  font-size: 5rem;
  color: #919090;
}

.color-changing-text:hover {
  color: #000000;
}


.text-container p {
  text-align: center;
  margin: 300px;
  padding-left: 100px;
  padding-right: 100px;
}


/* gradiente que segue o rato 
body::before {
    --size: 0;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 15%;
    background: radial-gradient(circle closest-side, rgb(235, 58, 87), transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, left 0.1s ease, top 0.1s ease; 
    z-index: -1;
    pointer-events: none;
}

body:hover::before {
    --size: 100px;
    left: var(--x);
    top: var(--y);
}   */


* {
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}


/*---------------------------- socials----------------------- */
.portfolio_png {
    position: absolute;
    top: 35.5%;
    left: 52.5%;
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;
    z-index: 1;
}

.behance_png {
  position: absolute;
  top: 32%;
  left: 82.5%;
  width: 75px;
  height: 45px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.linkedin_png {
  position: absolute;
  top: 72%;
  left: 73%;
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
  z-index: 1;
}


.gradient {
    --size: 0;
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle closest-side, rgb(235, 58, 87), transparent);
    transition: transform 0.3s ease;
    z-index: 0;
}


#hoverGradient1 {
    top: 25%;
    left: 80%;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle closest-side, rgb(1, 38, 248), transparent);

}

#hoverGradient2 {
  top: 67%;
  left: 70%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle closest-side, rgb(137, 1, 248), transparent);

}




