html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*  cursor: none;   */
}


svg {
  width: 150px;
  position: absolute;
  animation: rotation 4.5s infinite linear;
  pointer-events: none;
  transition-timing-function: ease-out;
  z-index: 1;


}

#circle-svg {
  display: none;
}

text {
  font-size: 4em;
  font-family: 'Poppins';
  font-weight: bold;
  fill: rgb(0, 0, 0)
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* fonts */
@import url(https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended+Bold);

@font-face {
  font-family: "Monument Extended Bold";
  src: url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot");
  src: url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.svg#Monument Extended Bold")format("svg");
}



h1 {
  padding-top: 2%;
  margin-left: 4%;
  font-family: "Monument Extended Bold";
  color: white;
  text-align: left;
  font-size: 5rem;
  color: #919090;
}

.color-changing-text:hover {
  color: #000000;
}


#canvas {
  /* make the canvas wrapper fit the window */
  position: absolute;
  top: 0;
  left: 6%;
  width: 100%;
  height: 100vh;
  z-index: -2; /* Set a higher z-index for the canvas */
}

.plane {
  /* define the size of your plane */
  
  width: 86%;
  height: 80vh;
  margin-left: 4%;
  top: 4vh;

}

.text-container {
  width: 43%;
}

.text-container p {
  text-align: left;
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  margin-left: 13%;
  z-index: 1;
}


/* gradiente que segue o rato 
body::before {
    --size: 0;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 15%;
    background: radial-gradient(circle closest-side, rgb(235, 58, 87), transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, left 0.1s ease, top 0.1s ease; 
    z-index: -1;
    pointer-events: none;
}

body:hover::before {
    --size: 100px;
    left: var(--x);
    top: var(--y);
}   */

/* fades do texto colorido */

* {
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}


/*---------------------------- socials----------------------- */
.portfolio_png {
  position: absolute;
  top: 36.5%;
  left: 53.5%;
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.behance_png {
  position: absolute;
  top: 29%;
  left: 78.5%;
  width: 75px;
  height: 45px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.linkedin_png {
  position: absolute;
  top: 67%;
  left: 71.5%;
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.email_png {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;

}


/* gradientes */

.gradient {
  --size: 0;
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle closest-side, rgb(253, 64, 96), transparent);
  transition: transform 0.3s ease;
  z-index: 0;
}


#hoverGradient1 {
  top: 25%;
  left: 80%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle closest-side, rgb(51, 221, 255), transparent);

}

#hoverGradient2 {
  top: 67%;
  left: 70%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle closest-side, rgb(178, 87, 253), transparent);

}




/* media queries */


@media screen and (min-width: 980px) {
  .portfolio_png {
    top: 36.5%;
    left: 53.5%;
  }

  .behance_png {
    top: 29%;
    left: 78.5%;
  }

  .linkedin_png {
    top: 67%;
    left: 71.5%;
  }

  .email_png {
    top: 87%;
    left: 4.5%;

  }

  .text-container {
    width: 43%;
  }


  .gradient {
    width: 175px;
    height: 175px;
    top: 30%;
    left: 50%;
  }

  #hoverGradient1 {
    width: 175px;
    height: 175px;
    top: 20%;
    left: 75%;
  }

  #hoverGradient2 {
    width: 175px;
    height: 175px;
    top: 60%;
    left: 68%;
  }

  h1 {
    padding-top: 2%;
    margin-left: 4%;
    font-size: 5rem;
  }


  .text-container p {
    text-align: left;
    font-family: 'Jost', sans-serif;
    font-size: 1.3rem;
    margin-left: 13%;
    z-index: 1;
  }


}


/*tablet */

@media screen and (min-width: 600px) and (max-width: 980px) {

  .portfolio_png {
    top: 42%;
    left: 57.5%;
    width: 60px;
    height: 60px;
  }

  .behance_png {
    top: 20%;
    left: 70.5%;
    width: 65px;
    height: 37px;
  
  }

  .linkedin_png {
    top: 68.5%;
    left: 46.5%;
    width: 60px;
    height: 60px;
  }


  .email_png {
    top: 86%;
    left: 3.5%;

  }

  .gradient {
    width: 150px;
    height: 150px;
    top: 36%;
    left: 52%;
  }

  #hoverGradient1 {
    width: 150px;
    height: 150px;
    top: 12%;
    left: 65%;
  }

  #hoverGradient2 {
    width: 150px;
    height: 150px;
    top: 63%;
    left: 41%;
  }

  svg {
    width: 136px;
  }

  h1 {
    font-size: 4rem;
    margin-left: 6%;
  }

  .text-container {
    width: 47%;
  }

  .text-container p {
    text-align: left;
    font-size: 1rem;
    z-index: 1;
  }


}


/* telemovel */

@media screen and (max-width: 600px) {
  h1 {
    padding-top: 5%;
    font-size: 2.8rem;
    margin-left: 6%;
  }

  .text-container {
    width: 58%;
  }

  .text-container p {
    font-size: 1rem;
    margin-left: 13%;
  }


  .portfolio_png {
    top: 44%;
    left: 65%;
    width: 60px;
    height: 60px;
  }

  .behance_png {
    top: 20%;
    left: 65%;
    width: 65px;
    height: 37px;
  
  }

  .linkedin_png {
    top: 68.5%;
    left: 65.5%;
    width: 60px;
    height: 60px;
  }


  .email_png {
    top: 86%;
    left: 2%;

  }

  .gradient {
    width: 150px;
    height: 150px;
    top: 38%;
    left: 56%;
  }

  #hoverGradient1 {
    width: 150px;
    height: 150px;
    top: 12%;
    left: 56%;
  }

  #hoverGradient2 {
    width: 150px;
    height: 150px;
    top: 63%;
    left: 56%;
  }

  svg {
    width: 134px;
  }

}
