html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*  cursor: none;   */
}


svg {
  width: 170px;
  position: absolute;
  animation: rotation 4.5s infinite linear;
  pointer-events: none;
  transition-timing-function: ease-out;
  z-index: 1;
}

#circle-svg {
  display: none;
}

text {
  font-size: 4em;
  font-family: 'Poppins';
  font-weight: bold;
  fill: rgb(0, 0, 0)
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* fonts */
@import url(https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended+Bold);

@font-face {
  font-family: "Monument Extended Bold";
  src: url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot");
  src: url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.svg#Monument Extended Bold")format("svg");
}


h1 {

  margin-top: 5%;
  margin-left: 4%;
  font-family: "Monument Extended Bold";
  color: white;
  text-align: left;
  font-size: 5rem;
  color: #919090;
}

.color-changing-text:hover {
  color: #000000;
}



.text-container {
  width: 43%;
}

.text-container p {
  text-align: left;
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  margin-left: 13%;
}


/* gradiente que segue o rato 
body::before {
    --size: 0;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 15%;
    background: radial-gradient(circle closest-side, rgb(235, 58, 87), transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, left 0.1s ease, top 0.1s ease; 
    z-index: -1;
    pointer-events: none;
}

body:hover::before {
    --size: 100px;
    left: var(--x);
    top: var(--y);
}   */


* {
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}


/*---------------------------- socials----------------------- */
.portfolio_png {
  position: absolute;
  top: 35.5%;
  left: 52.5%;
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.behance_png {
  position: absolute;
  top: 32%;
  left: 82.5%;
  width: 75px;
  height: 45px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.linkedin_png {
  position: absolute;
  top: 72%;
  left: 73%;
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.email_png {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;

}


.gradient {
  --size: 0;
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle closest-side, rgb(235, 58, 87), transparent);
  transition: transform 0.3s ease;
  z-index: 0;
}


#hoverGradient1 {
  top: 25%;
  left: 80%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle closest-side, rgb(1, 38, 248), transparent);

}

#hoverGradient2 {
  top: 67%;
  left: 70%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle closest-side, rgb(137, 1, 248), transparent);

}




/* media queries */


@media screen and (min-width: 980px) {
  .portfolio_png {
    top: 35.5%;
    left: 52.5%;
  }

  .behance_png {
    top: 32%;
    left: 82.5%;
  }

  .linkedin_png {
    top: 72%;
    left: 73%;
  }

  .email_png {
    top: 84%;
    left: 4%;

  }

  .text-container {
    width: 43%;
  }
  

  .gradient {
    width: 150px;
    height: 150px;
    top: 30%;
    left: 50%;
  }

  #hoverGradient1 {
    width: 150px;
    height: 150px;
    top: 25%;
    left: 80%;
  }

  #hoverGradient2 {
    width: 150px;
    height: 150px;
    top: 67%;
    left: 70%;
  }

  h1 {
    margin-left: 4%;
    font-size: 5rem;
  }


  .text-container p {
    text-align: left;
    font-family: 'Jost', sans-serif;
    font-size: 1.3rem;
    margin-left: 13%;
  }


}


@media screen and (min-width: 600px) and (max-width: 980px) {

  .portfolio_png {
    top: 48%;
    left: 61%;
  }

  .behance_png {
    top: 22%;
    left: 79%;
  }

  .linkedin_png {
    top: 77%;
    left: 44%;
  }


  .email_png {
    top: 84%;
    left: 4%;

  }
  .gradient {
    width: 150px;
    height: 150px;
    top: 43%;
    left: 56%;
  }

  #hoverGradient1 {
    width: 150px;
    height: 150px;
    top: 15%;
    left: 74%;
  }

  #hoverGradient2 {
    width: 150px;
    height: 150px;
    top: 72%;
    left: 38%;
  }

  h1 {
    font-size: 4rem;
    margin-left: 6%;
  }

  .text-container {
    width: 47%;
  }

  .text-container p {
    text-align: left;
    font-size: 1rem;
    margin-left: 13%;
  }


}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
    margin-left: 6%;
  }

  .text-container {
    width: 59%;
  }

  .text-container p {
    text-align: left;
    font-size: 1rem;
    margin-left: 13%;
  }


  .portfolio_png {
    top: 54%;
    left: 71%;
  }

  .behance_png {
    top: 22%;
    left: 71%;
  }

  .linkedin_png {
    top: 77%;
    left: 31%;
  }

  .email_png {
    top: 84%;
    left: 74%;

  }

  .gradient {
    width: 150px;
    height: 150px;
    top: 49%;
    left: 64%;
  }

  #hoverGradient1 {
    width: 150px;
    height: 150px;
    top: 15%;
    left: 64%;
  }

  #hoverGradient2 {
    width: 150px;
    height: 150px;
    top: 72%;
    left: 23%;
  }

}